@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

/* For All */
* {
	user-select: none;
	font-family: "Roboto", sans-serif;
}

.image-wrapper {
	position: relative;
	margin: 0 !important;
	width: 3rem;
	height: 3rem;
	transition: 0.5s;
}

/* Intro Section */
.intro {
	min-height: 100vh;
	display: flex;
	align-items: center; /* Vertically center the div */
}

.intro ul {
	margin: 0;
	padding: 0;
}

.intro li {
	display: inline-block;
	margin-right: 1rem;
}

/* Skills Section */
.skills {
	min-height: 100vh;
	background-color: rgb(51, 51, 51);
	padding-bottom: 1rem;
}

.skills h1 {
	color: rgb(255, 255, 255);
}

.skills div {
	margin-left: 5rem;
	margin-right: 5rem;
	padding-top: 2.5rem;
}

.skill-categories {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.skill-categories div {
	margin: 1rem;
	padding: 0;
	border-style: solid;
	border-color: rgba(201, 201, 201, 0.5);
	border-radius: 10%;
	background: linear-gradient(
		240deg,
		rgba(204, 204, 204, 1) 10%,
		rgba(255, 255, 255, 1) 100%
	);
	box-shadow: 5px 5px;
	transition: 0.5s;
}

.category {
	display: inline-block;
	width: 20rem;
	height: 15rem;
	padding: 1rem;
}

/* Footer Section */
.footer {
	background-color: rgb(51, 51, 51);
}

.footer ul li a {
	color: rgb(204, 204, 204) !important;
}

.footer p {
	color: rgb(204, 204, 204) !important;
}

/* For Desktop */
@media screen and (min-width: 540px) {
	/* Intro Section */
	.intro {
		background: radial-gradient(rgb(204, 204, 204) 5%, rgb(255, 255, 255));
	}

	.intro div {
		margin-top: 10rem;
		margin-left: 5rem;
	}

	.image-wrapper img:hover {
		transform: scale(1.1);
	}

	/* Skills Section */
	.skill-categories div:hover {
		transform: scale(1.025);
	}

	/* Footer Section */
	.footer ul li a:hover {
		color: rgb(255, 255, 255) !important;
		transform: scale(1.1);
		transition: transform 0.5s;
	}
}

/* For Mobile */
@media screen and (max-width: 540px) {
	/* Intro Section */
	.intro {
		background: linear-gradient(
			240deg,
			rgba(204, 204, 204, 1) 20%,
			rgba(255, 255, 255, 1) 100%
		);

		justify-content: center; /* Horizontally center the div */
	}
}
